body {
  font-family: 'Titillium Web', sans-serif;
  font-size:18px;
  color:#555;padding:0px; margin:0px;
  margin:0;height:100%;overflow:hidden !important;
}

.header {
  height:60px;
  background:#3a3e4a;
  color:#fff;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
  position:relative; z-index:999;
  width:100%;
}

.headerTitle {
  line-height:60px;
  padding:0px 20px;
  font-size:21px;
  float:left;
}

.headerIcons{
  float:right;
}

.headerIcons i {
  line-height:60px;
  width:60px; text-align:center !important;
  font-size:30px;
  transition:200ms all;
}

.headerIcons i:hover {
  background:rgba(255,255,255,0.1);
}

.phraseHolder {
  position:relative; z-index:98;
  box-shadow:0px 0px 12px 0px rgba(0,0,0,0.2);
  width: 100%;
  background:#fbfbfb;
  height: 130px;
}

.currentPhrase {
  float:left;
  width:calc(100% - 100px);
  height:130px;
  transform:scale(1);
  opacity:1;
  overflow-x: auto;
  overflow-y: hidden;
  transition:250ms all;
}

.currentPhraseScroll { width:10000px; }

.cpTransition { transform:scale(0.95); opacity:0.7; }


.backspace { float:right; height:130px; margin-right:30px;}
.backspace i {  line-height:130px !important; font-size:50px; color:#444;}

.gridHolder {
  height:calc(100% - 191px); background:#f5f5f5;
  border-top:1px solid #eee;
  overflow:hidden;
  overflow-y:scroll;
}


.gridItem {
  float:left;
  padding:10px;
  margin:5px;
  border:2px solid #eee;
  background:#fff;
  border-radius:8px;
  transform:scale(1);
  transition:200ms all;
  box-shadow:0px 0px 0px 0px rgba(0,0,0,0.01);
  overflow:hidden;
}
.gridItem:hover {
  box-shadow:0px 0px 15px 0px rgba(0,0,0,0.01);
  transform:scale(0.9);
}
.gridGroup { border:2px solid #333; }
.gridItem img{
    width:100%;
    height: calc(100% - 38px);
}
.gridItem .gridText {
  text-align:center;
  font-weight:bold;
  font-size:18px;
  line-height:16px;
  text-transform:capitalize;
  padding-top:10px;
  border-top:1px solid #eee;
  height:70px; overflow:hidden;
}

.gridType-noun { border-color:#5d8dcc; }
.gridType-verb { border-color:#cb5dcc; }
.gridType-pronoun { border-color:#cc5e5d; }
.gridType-adjective { border-color:#5dcc66; }
.gridType-adverb { border-color:#c4cc5d; }
.gridType-preposition { border-color:#5dccb3; }
.gridType-conjunction { border-color:#795dcc; }
.gridType-interjection { border-color:#cc5d9f; }


.grid2x2 .gridItem { width:calc(100% / 2 - 34px); height:calc(100% / 2 - 34px); }
.grid3x2 .gridItem { width:calc(100% / 3 - 34px); height:calc(100% / 2 - 34px); }
.grid3x3 .gridItem { width:calc(100% / 3 - 34px); height:calc(100% / 3 - 34px); }
.grid4x3 .gridItem { width:calc(100% / 4 - 34px); height:calc(100% / 3 - 34px); }
.grid5x3 .gridItem { width:calc(100% / 5 - 34px); height:calc(100% / 3 - 34px); }
.grid5x4 .gridItem { width:calc(100% / 5 - 34px); height:calc(100% / 4 - 34px); }
.grid6x4 .gridItem { width:calc(100% / 6 - 34px); height:calc(100% / 4 - 34px); }
.grid6x4 .gridText { font-size:17px; }
.grid6x5 .gridItem { width:calc(100% / 6 - 34px); height:calc(100% / 5 - 34px); }
.grid6x5 .gridText { font-size:17px; }
.grid8x5 .gridItem { width:calc(100% / 8 - 20px); height:calc(100% / 5 - 20px);
  padding:5px;
  margin:3px;
  }
.grid8x5 .gridText { font-size:16px; }
.grid10x7 .gridItem { width:calc(100% / 10 - 14px); height:calc(100% / 7 - 14px);
  padding:3px;
  margin:2px;}
.grid10x7 .gridText { font-size:13px; }

.grid11x9 .gridItem { width:calc(100% / 11 - 8px); height:calc(100% / 9 - 0px);
padding:0px;
margin:2px;}
.grid11x9 .gridText { font-size:11px; padding-top:5px; }

.resPhrase {
  float:left;
  width:100%;
  height:130px;
  transform:scale(1);
  opacity:1;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom:1px solid #ddd;
}

.resPhraseScroll { width:10000px; }

.wordItem { float:left; height:120px; padding:10px; text-align:center; }
.wordItem img { height:calc(100% - 40px);}
.wordText {
            text-align:center;
            font-weight:bold;
            font-size: 18px;
            line-height: 16px;
            text-transform: capitalize;
            padding-top: 10px;
            border-top: 1px solid #eee;
            height: 30px;
            overflow: hidden;
          }

.wordItemRes { float:left; height:120px; padding:10px; text-align:center; }
.wordItemRes img { height:calc(100% - 40px);}
.wordTextRes {
            text-align:center;
            font-weight:bold;
            font-size: 18px;
            line-height: 16px;
            text-transform: capitalize;
            padding-top: 10px;
            border-top: 1px solid #eee;
            height: 30px;
            overflow: hidden;
          }



.recentTabs { background:#fafafa; border-bottom:1px solid #ddd; }
.recentTabs ul { padding:0px; margin:0px; }
.recentTabs li{
  list-style:none;
  padding:15px 0px;
  width:calc(100% / 4 - 1px);
  float:left;
  border-right:1px solid #ddd;
  text-align:center;
  font-size:21px;
}
.recentTabs li:hover {
   font-weight:bold;
   background:#fff;
}
.recentTabs ul:last-child {border:0px;}
