<div id="header" ng-controller="header-controller as header" class="header">
    <div id="bIcon" class="backIcon" ng-click="header.quitGame()"><i class="material-icons">keyboard_arrow_left</i></div>
    <div class="headerTitle">{{global.currentPage}}</div>
    <div class="headerIcons">
        <!--<i id="hIcon" ng-click="header.goHome()" class="material-icons">home</i>-->
        <i id="gIcon" ng-click="header.openGrid()" class="material-icons">grid_on</i>
        <i id="kIcon" ng-click="header.openKeyboard()" class="material-icons">keyboard</i>
        <i id="rIcon" ng-click="header.openRecent()" class="material-icons">history</i>
        <!--<i onclick="toggleSettings()" class="material-icons">settings</i>-->
    </div>
</div>
