body {
  font-family: 'Titillium Web', sans-serif;
  font-size:18px;
  color:#555;padding:0px; margin:0px;
  margin:0;height:100%;overflow:hidden !important;
  user-select:none;
  -webkit-user-select:none;
  /* -webkit-touch-callout: none; */
  /* -webkit-user-drag: none; */
}
#outdated {
  width:100%; height:100%; background:#eee; display:none;
}
#outdated p { text-align:center; padding:5px; }
.outdated-cover { height:100px; position:relative; top:calc(50% - 50px);}

.updateBtn { padding:10px; background:#3a3e4a; color:#fff; font-size:1.1em; border-radius:5px; text-align:center; width:200px; margin:auto;}

.header {
  height:60px;
  background:#3a3e4a;
  color:#fff;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
  position:relative; z-index:999;
  width:100%;
}

.headerTitle {
  line-height:60px;
  padding:0px 20px;
  padding-left:0px;
  font-size:1.16em;
  float:left;
  position: fixed;
  left:0px;
  text-align:center;
  width:100%;
}

.headerIcons{
  float:right;
}

.headerIcons i {
  line-height:60px;
  width:60px; text-align:center !important;
  font-size:1.6em;
  transition:200ms all;
}

.headerIcons i:hover {
  background:rgba(255,255,255,0.1);
}

.backIcon { float:left; }

.backIcon i {
  padding-left:10px;
  position:relative;
  top:2px;
  line-height:60px;
  width:50px; text-align:center !important;
  font-size:1.6em;
  transition:200ms all;
}

.backIcon i:hover {
  background:rgba(255,255,255,0.1);
}
.backIcon, .headerIcons {
  position:relative;
  z-index:99;
}
.phraseHolder {
  position:relative; z-index:98;
  box-shadow:0px 0px 12px 0px rgba(0,0,0,0.2);
  width: 100%;
  background:#fbfbfb;
  height: 130px;
}

.currentPhrase {
  float:left;
  width:calc(100% - 100px);
  height:130px;
  transform:scale(1);
  opacity:1;
  overflow-x: auto;
  overflow-y: hidden;
  transition:250ms all;
}

.currentPhraseScroll { width:10000px; }

.cpTransition { transform:scale(0.95); opacity:0.7; }


.backspace { float:right; height:130px; margin-right:30px;}
.backspace i {  line-height:130px !important; font-size:2.77em; color:#444;}

.gridHolder {
  height:calc(100% - 191px); background:#f5f5f5;
  border-top:1px solid #eee;
  overflow:hidden;
  overflow-y:scroll;
}

.gridItem {
  float:left;
  padding:10px;
  margin:5px;
  border:2px solid #eee;
  background:#fff;
  border-radius:8px;
  transform:scale(1);
  transition:100ms transform;
  box-shadow:0px 0px 0px 0px rgba(0,0,0,0.01);
  overflow: hidden;
  position:relative;
}
.gridItemClick {
  box-shadow:0px 0px 15px 0px rgba(0,0,0,0.01);
  transform:scale(0.9);
}
.transitionKill { transition:0ms transform !important; }


.gridNavigation { border:2px solid #333; }
.gridItem img{
    width:100%;
    height: calc(100% - 38px);
}
.gridItem .gridText {
  text-align:center;
  font-weight:bold;
  font-size:1em;
  line-height:16px;
  text-transform:capitalize;
  padding-top:10px;
  border-top:1px solid #eee;
  height:22px; overflow:hidden;
}

.gridType-noun { border-color:#5d8dcc; }
.gridType-noun .derivable{ background:#5d8dcc; }
.gridType-verb { border-color:#cb5dcc; }
.gridType-verb .derivable { background:#cb5dcc; }
.gridType-pronoun { border-color:#cc5e5d; }
.gridType-pronoun .derivable { background:#cc5e5d; }
.gridType-adjective { border-color:#5dcc66; }
.gridType-adjective .derivable { background:#5dcc66; }
.gridType-adverb { border-color:#c4cc5d; }
.gridType-adverb .derivable { bbackground:#c4cc5d; }
.gridType-preposition { border-color:#5dccb3; }
.gridType-preposition .derivable { background:#5dccb3; }
.gridType-conjunction { border-color:#795dcc; }
.gridType-conjunction .derivable { background:#795dcc; }
.gridType-interjection { border-color:#cc5d9f; }
.gridType-interjection .derivable { background:#cc5d9f; }

.derivable { position:absolute; right:-20px; top:-20px; width:40px; height:40px;transform:rotateZ(45deg); }
.group { position:absolute; left:5px; top:0px; width:calc(100% - 14px); height:3px; border:2px solid #555; border-bottom:0px; top:-7px;
border-radius:6px 6px 0px 0px; background:#fff; }
.group2 { position:absolute; left:5px; top:0px; width:calc(100% - 14px); height:3px; border:2px solid #666; border-bottom:0px; top:-7px;
border-radius:6px 6px 0px 0px; background:#fff;  }

.gridGroup { border:2px solid #333; padding-top:3px; margin-top:12px !important; overflow: visible !important; }
.gridGroup img { margin-top:5px; }


.grid2x2 .gridItem { width:calc(100% / 2 - 34px); height:calc(100% / 2 - 34px); }
.grid3x2 .gridItem { width:calc(100% / 3 - 34px); height:calc(100% / 2 - 34px); }
.grid2x3 .gridItem { width:calc(100% / 2 - 34px); height:calc(100% / 3 - 34px); }
.grid3x3 .gridItem { width:calc(100% / 3 - 34px); height:calc(100% / 3 - 34px); }
.grid4x3 .gridItem { width:calc(100% / 4 - 34px); height:calc(100% / 3 - 34px); }
.grid3x4 .gridItem { width:calc(100% / 3 - 34px); height:calc(100% / 4 - 34px); }
.grid5x3 .gridItem { width:calc(100% / 5 - 34px); height:calc(100% / 3 - 34px); }
.grid3x5 .gridItem { width:calc(100% / 3 - 34px); height:calc(100% / 5 - 34px); }
.grid5x4 .gridItem { width:calc(100% / 5 - 34px); height:calc(100% / 4 - 34px); }
.grid4x5 .gridItem { width:calc(100% / 4 - 34px); height:calc(100% / 5 - 34px); }
.grid6x4 .gridItem { width:calc(100% / 6 - 34px); height:calc(100% / 4 - 34px); }
.grid6x4 .gridText { font-size:0.94em; }
.grid4x6 .gridItem { width:calc(100% / 4 - 34px); height:calc(100% / 6 - 34px); }
.grid4x6 .gridText { font-size:0.94em; }
.grid6x5 .gridItem { width:calc(100% / 6 - 34px); height:calc(100% / 5 - 34px); }
.grid5x6 .gridItem { width:calc(100% / 5 - 34px); height:calc(100% / 6 - 34px); }
.grid6x5 .gridText { font-size:0.94em; }
.grid5x6 .gridText { font-size:0.94em; }
.grid8x5 .gridItem { width:calc(100% / 8 - 20px); height:calc(100% / 5 - 20px);
  padding:5px;
  margin:3px;
  }
  .grid5x8 .gridItem { width:calc(100% / 5 - 20px); height:calc(100% / 8 - 20px);
    padding:5px;
    margin:3px;
    }
.grid8x5 .gridText { font-size:0.88em; }
.grid5x8 .gridText { font-size:0.88em; }
.grid10x7 .gridItem { width:calc(100% / 10 - 14px); height:calc(100% / 7 - 14px);
  padding:3px;
  margin:2px;}
  .grid7x10 .gridItem { width:calc(100% / 7 - 14px); height:calc(100% / 10 - 14px);
    padding:3px;
    margin:2px;}
.grid10x7 .gridText { font-size:0.72em; }
.grid7x10 .gridText { font-size:0.72em; }

.grid11x9 .gridItem { width:calc(100% / 11 - 8px); height:calc(100% / 9 - 0px);
padding:0px;
margin:2px;}
.grid9x11 .gridItem { width:calc(100% / 9 - 8px); height:calc(100% / 11 - 0px);
padding:0px;
margin:2px;}
.grid11x9 .gridText, .grid9x11 .gridText { font-size:0.61em; padding-top:5px; }

.resPhrase {
  float:left;
  width:100%;
  height:130px;
  transform:scale(1);
  opacity:1;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom:1px solid #ddd;
}

.resPhraseScroll { width:10000px; }

.wordItem { float:left; height:120px; padding:10px; text-align:center; }
.wordItem img { height:calc(100% - 40px);}
.wordText {
            text-align:center;
            font-weight:bold;
            font-size: 1em;
            line-height: 16px;
            text-transform: capitalize;
            padding-top: 10px;
            border-top: 1px solid #eee;
            height: 30px;
            overflow: hidden;
          }

.wordItemRes { float:left; height:120px; padding:10px; text-align:center; }
.wordItemRes img { height:calc(100% - 40px);}
.wordTextRes {
            text-align:center;
            font-weight:bold;
            font-size: 1em;
            line-height: 16px;
            text-transform: capitalize;
            padding-top: 10px;
            border-top: 1px solid #eee;
            height: 30px;
            overflow: hidden;
          }



.recentTabs { background:#fafafa; border-bottom:1px solid #ddd; }
.recentTabs ul { padding:0px; margin:0px; }
.recentTabs li{
  list-style:none;
  padding:15px 0px;
  width:calc(100% / 4 - 1px);
  float:left;
  border-right:1px solid #ddd;
  text-align:center;
  font-size:1.16em;
}
.recentTabs li:hover {
   font-weight:bold;
   background:#fff;
}
.recentTabs ul:last-child {border:0px;}

.derivableCover { width:100%; height:100%; position:fixed; top:0px;left:0px; z-index:999; display:none; }

.settings {
  position:fixed;
  width:252px;
  z-index:9999;
  right:-270px;
  height:100%;
  background:#fff;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
  transition:300ms all;
}
.settingHeader { border-bottom:1px solid #eee; padding:10px; }
.settingHeader i { position:relative; top:5px;  margin-right:5px; margin-left:7px;}
.settingList li { list-style:none; padding:10px 15px; }

@media all and (max-width:800px) and (max-height:800px){
  .header { height:40px; font-size:0.8em; }
  .header .headerTitle {  line-height:40px; }
  .header i { line-height:40px; width:40px !important;}
  .phraseHolder { height:80px; }
  .wordItem { height:80px; padding:0px 10px; padding-top:5px; }
  .wordItemRes { height:80px; padding:0px 10px; padding-top:5px; }
  .backspace i{ height:80px; line-height:80px !important; font-size:2.22em;}
  .backspace{ height:80px; margin-right:18px;}
  .currentPhrase { height:80px; }
  .gridHolder { height:calc(100% - 121px);}
  .resPhrase { height:80px; }
  .recentTabs li{ font-size:0.9em; padding:8px 0px;}
  .gridItem img{ height: calc(100% - 23px); }
}

@media all and (max-width:500px){
  .headerTitle { display:none; }
}
