<div ng-controller="otsControlHeader" class="header">
  <div id="bIcon" class="backIcon" ng-click="quitGame()"><i class="material-icons">keyboard_arrow_left</i></div>
  <div class="headerTitle">{{global.currentPage}}</div>
  <div class="headerIcons">
    <i id="hIcon" ng-click="goHome()" class="material-icons">home</i>
    <i id="gIcon" ng-click="openGrid()" class="material-icons">grid_on</i>
    <i id="kIcon" ng-click="openKeyboard()" class="material-icons">keyboard</i>
    <i id="rIcon" ng-click="openRecent()" class="material-icons">history</i>
    <!--<i onclick="toggleSettings()" class="material-icons">settings</i>-->
  </div>
</div>
