<div ng-controller="otsControlHeader" class="header">
  <div class="backIcon" ng-click="quitGame()"><i class="material-icons">keyboard_arrow_left</i></div>
  <div class="headerTitle">{{global.currentPage}}</div>
  <div class="headerIcons">
    <i ng-click="goHome()" class="material-icons">home</i>
    <i ng-click="openGrid()" class="material-icons">grid_on</i>
    <i class="material-icons">keyboard</i>
    <i ng-click="openRecent()" class="material-icons">history</i>
    <!--<i onclick="toggleSettings()" class="material-icons">settings</i>-->
  </div>
</div>
