
<div ng-controller="otsControlKeyboard" >
KEYBOARD DENEME

  <div class="inputCarrier">
    <input id="typeInput" type="text"
           ng-keypress="enterSubmit($event)"
           placeholder="{{global.startTyping}}"
           ng-focus="showKeyboardFocused()"
           ng-blur="hideKeyboard()"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"/>
    <i ng-click="submitCurrentInput()" class="material-icons">check_circle</i>
  </div>
</div>
