<div ng-controller="otsControlPhrase" class="phraseHolder">
  <div id="cPhrase" class="currentPhrase {{currentPhraseTransition}}" ng-click="submitPhrase()">
    <div class="currentPhraseScroll">
      <div class="wordItem" ng-repeat="word in global.currentPhrase track by $index" ng-if="word.title">
        <img src="symbols/{{word.slug}}.svg" />
        <div class="wordText">{{word.title}}</div>
      </div>
    </div>
  </div>
  <div ng-click="removeLastWord()" ng-touchstart="bsTouchStart()" ng-touchend="bsTouchEnd()" class="backspace">
    <i id="bs" class="material-icons">backspace</i>
  </div>
</div>
