<html>
<head>
	<meta charset="utf-8">
	<title>SPEC App UI</title>
	<link href="src/css/norm.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="src/css/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<!-- build:js js/vendor.js -->
	<script src="node_modules/otsimo/otsimo.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/fastclick/lib/fastclick.js"></script>
	<script src="node_modules/angular-touch/angular-touch.js"></script>
	<!-- endbuild -->

	<script src='//vws.responsivevoice.com/v/e?key=utvgu25X'></script>
	<script type="text/javascript">
	if ('addEventListener' in document) {
	    document.addEventListener('DOMContentLoaded', function() {
	        FastClick.attach(document.body);
	    }, false);
	}
	</script>
</head>
  <body ng-app="ngPescGeneral" ng-controller="ngControlGeneral">
		<div class="header">
			<div class="headerTitle">{{currentPage}}</div>
			<div class="headerIcons">
				<i ng-click="openGrid()" class="material-icons">grid_on</i>
				<i class="material-icons">keyboard</i>
				<i ng-click="openRecent()" class="material-icons">history</i>
				<i ng-click="changeGridSize(6,5)" class="material-icons">settings</i>
			</div>
		</div>

		<div class="phraseHolder">
			<div id="cPhrase" class="currentPhrase {{currentPhraseTransition}}" ng-click="submitPhrase()">
				<div class="currentPhraseScroll">
						<div class="wordItem" ng-repeat="word in currentPhrase track by $index" ng-if="word.title">
							<img src="symbols/potatoes.svg"/>
							<div class="wordText">{{word.title}}</div>
						</div>
				</div>
			</div>
			<div ng-click="removeLastWord()" ng-touchstart="bsTouchStart()" ng-touchend="bsTouchEnd()" class="backspace">
				<i id="bs" class="material-icons">backspace</i>
			</div>
		</div>
		<div class="gridHolder" ng-switch="currentTab">
			<div class="grids grid{{gridSize[0]}}x{{gridSize[1]}}">
				<div ng-switch-when="main">
											<div class="gridItem gridGroup" ng-click="goPrevMain()" ng-if="mainPageNo != 0">
											 <img src="symbols/output/previous.svg">
											 <div class="gridText">Previous</div>
											</div>

						<div class="gridItem gridType-{{symbol.type}}" ng-click="clickWord(symbol)" ng-repeat="symbol in mainSymbolData | filter: {is_home: true} track by symbol.slug" ng-if="mainPageNo * gridQuantity < $index && $index < (mainPageNo + 1) * gridQuantity">
							<!-- Add is home control -->
						 <img src="symbols/potatoes.svg">
						 <div class="gridText">{{symbol.title}}</div>
					 	</div>

											<div class="gridItem gridGroup" ng-click="goNextMain()" ng-if="mainMaxPageNo > (mainPageNo + 1)">
											 <img src="symbols/output/next.svg">
											 <div class="gridText">Next</div>
											</div>

						<div class="gridItem gridGroup" ng-click="groupClick(group.slug)" ng-repeat="group in groupsSymbolData">
							<!-- Add is home control -->
						 <img src="symbols/potatoes.svg">
						 <div class="gridText">{{group.title}}</div>
					 	</div>
				</div>
				<div ng-switch-when="derivable">
						<div class="gridItem" ng-repeat="symbol in derivableSymbolData">
						 <img src="symbols/potatoes.svg">
						 <div class="gridText">{{symbol.title}}</div>
						</div>
				</div>
				<div ng-switch-when="group">
											<div class="gridItem gridGroup" ng-click="goBack()">
											 <img src="symbols/output/back.svg">
											 <div class="gridText">Go Back</div>
											</div>
						<div class="gridItem gridType-{{symbol.type}}" ng-click="clickWord(symbol)" ng-repeat="symbol in groupSymbolData  | filter: currentGroup track by symbol.title"  ng-if="groupPageNo * gridQuantity < $index && $index < (groupPageNo + 1) * gridQuantity">
						 <img src="symbols/potatoes.svg">
						 <div class="gridText">{{symbol.title}}</div>
						</div>
											 <div class="gridItem gridGroup" ng-click="goNextGroup()" ng-if = "groupMaxPageNo >= (groupPageNo + 1)">
												<img src="symbols/output/next.svg">
												<div class="gridText">Next</div>
											 </div>
				</div>
				<div ng-switch-when="recent">
					<div class="recentTabs">
						<ul>
							<li ng-click="changeInterval(1)">Last 30 Min</li>
							<li ng-click="changeInterval(2)">Today</li>
							<li ng-click="changeInterval(3)">Yesterday</li>
							<li ng-click="changeInterval(4)">Last Week</li>
						</ul>
						<div class="clear"></div>
					</div>

					<div class="recentPhraseHolder">
								<div class="resPhrase"  ng-repeat="phraseRecent in recentPhrases | orderBy:'-time' track by $index" ng-if="phraseRecent.time < timeH && phraseRecent.time > timeL">
									<div class="resPhraseScroll">
											<div class="wordItemRes" ng-repeat="wordRecent in phraseRecent.phrase track by $index">
												<img src="symbols/potatoes.svg"/>
												<div class="wordText">{{wordRecent.title}}</div>
											</div>
									</div>
								</div>
					</div>
				</div>
			</div>
		</div>

		<!-- build:js js/main.js -->
    <script src="src/js/app.js"></script>
		<!-- endbuild -->
		<script type="text/javascript">
		otsimo.init();
		</script>
  </body>
</html>
