<div ng-controller="keyboard-controller as keyboard">
    <div class="suggestions">
      <div class="suggestedWord" ng-repeat="suggestionWord in keyboard.suggestionList track by $index"
           ng-click="keyboard.clickSuggestion(suggestionWord)">
        <img ng-src="{{global.symbolPath}}/{{keyboard.slugSuggest(suggestionWord)}}.svg" />
        <div class="wordText">{{suggestionWord}}</div>
      </div>
    </div>

    <div class="inputCarrier">
      <input id="typeInput" type="text"
             ng-keydown="keyboard.enterSubmit($event)"
             placeholder="{{startTyping}}"
             ng-focus="keyboard.showKeyboardFocused()"
             ng-blur="keyboard.hideKeyboard()"
             autocomplete="off"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="false"/>
      <i ng-click="keyboard.submitCurrentInput()" class="material-icons">check_circle</i>
    </div>
</div>
