<div ng-controller="phrase-controller as phrase" class="phraseHolder">
  <div id="cPhrase" class="currentPhrase {{currentPhraseTransition}}" ng-click="phrase.submitPhrase()">
    <div class="currentPhraseScroll">
      <span ng-if="global.currentPhrase.length > 0">
        <div class="wordItem" ng-repeat="word in global.currentPhrase track by $index">
          <span ng-if="!word.slugExist">
              <img ng-src="{{global.symbolPath}}/{{word.slug}}.svg" />
              <div class="wordText">{{word.title}}</div>
          </span>
          <span ng-if="word.slugExist">
              <div class="wordTextSolo">{{word.title}}</div>
          </span>
        </div>
      </span>
    </div>
  </div>
  <div ng-click="phrase.removeLastWord()" ng-touchstart="phrase.bsTouchStart()" ng-touchend="phrase.bsTouchEnd()" class="backspace">
    <i id="bs" class="material-icons">backspace</i>
  </div>
</div>
